body {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica;
    background-color: rgb(54, 170, 170);
    
}
.barra-navegacion{
    display: flex;
    flex-direction: column;
    padding: 0;
    background: black;
    width: 20;
    height: 100vh;
    max-width: 1000px;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-bottom: -2rem;
}
.barra-navegacion li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.barra-navegacion li{
    display: inline-block;
    text-align: center;
}
.barra-navegacion li a:hover{
    background-color: black;
}


.contenedor-colores{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    margin-top: -rem;

}

.caja1{
    background-color: brown
}
.caja2{
    background-color: blueviolet;
}
.caja3{
    background-color: chartreuse;
}
.caja4{
    background-color: darkgoldenrod;
}

.gato{
    width: 200px;
    height: 100px;
}
.perro{
    width: 200px;
    height: 100px;
}