<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="../index.html">volver pagina principal</a>
    </nav>
    <header>
        <div>
            <h1>
                GATTITOS EN ADOPCION
            </h1>
            <P>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti a beatae autem possimus ad voluptas
                enim voluptate corrupti laudantium quaerat, ex consequatur? Maxime repellat nihil labore placeat,
                perferendis nobis illo.
            </P>
        </div>
        <h3>
            NUESTROS GATITOS QUE BUSCAN FAMILIA
        </h3>
        <div class="seccion-animales">
            <div class="gato">
                <img src="../imegenes/gatito1.jpg" alt="imagen-gato">
                <a href="Seccion-gatitos/Ginger.html">Ginger</a>
                
            </div>
            
            <div class="seccion-animales">
                <img src="../imegenes/gatito2.jpg" alt="imagen-perrito">
                <a href="Seccion-gatitos/Tomy.html">Tomy</a>
   
                
            </div>
            <div class="seccion-animales">
                <img src="../imegenes/gatito3.jpg" alt="imagen-perrito">
                <a href="Seccion-gatitos/Lucifer.html">Lucifer</a>
 
            </div>
            
        </div>

        </heder>
</body>

</html>