<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="../index.html">volver pagina principal</a>
    </nav>
    <header>
        <div>
            <h1>
                PERRITOS EN ADOPCION
            </h1>
            <P>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti a beatae autem possimus ad voluptas
                enim voluptate corrupti laudantium quaerat, ex consequatur? Maxime repellat nihil labore placeat,
                perferendis nobis illo.
            </P>
        </div>
        <h3>
            NUESTROS PERRITOS QUE BUSCAN FAMILIA
        </h3>
        <div class="seccion-animales">
            <div class="perro">
                <img src="../imegenes/perrito1.jpg" alt="imagen-gato">
                <a href="Seccion-perrito/Cachulo.html">Cachulo</a>
                
            </div>
            
            <div class="seccion-animales">
                <img src="../imegenes/perrito2.jpg" alt="imagen-perrito">
                <a href="Seccion-perrito/Niña.html">Niña</a>
   
                
            </div>
            <div class="seccion-animales">
                <img src="../imegenes/perrito3.jpg" alt="imagen-perrito">
                <a href="Seccion-perrito/Flaca.html">Flaca</a>
 
            </div>
            
        </div>

        </heder>
    
</body>
</html>