<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/control.css">
</head>

<body>
        <div>
            <ul class="barra-navegacion">
                <li><a href="../views/principal.html">INICIO</a></li>
                <li><a href="../index.html">NOSOTROS</a></li>
                <li><a href="../views/gato.html">GATOS</a></li>
                <li><a href="../views/perro.html">PERRO</a></li>
            </ul>
        </div>
        <div class="contenedor-colores">
            <div class="caja1">
                <h2> Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sapiente laborum et, id error
                    similique impedit labore eius ratione nihil alias, quia quae consequatur! Consectetur veritatis
                    doloremque saepe voluptatem omnis nemo alias, maxime suscipit facere mollitia quod autem quia,
                    laudantium nisi rem, repellat officiis quam quos in aliquid sequi ducimus! Ipsum odit, quibusdam
                    fuga eos officia placeat obcaecati maiores praesentium consequuntur doloribus molestias provident
                    voluptatum id harum dolorum incidunt esse odio qui maxime fugit quod sapiente optio repellendus?
                    Dolores porro, nam molestiae officia quos perferendis. Consequatur odit eveniet non blanditiis, ea
                    rerum eius in fugiat veniam facere. Adipisci, reiciendis modi.</p>
            </div>
            <div class="caja2">
                <h2> Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sapiente laborum et, id error
                    similique impedit labore eius ratione nihil alias, quia quae consequatur! Consectetur veritatis
                    doloremque saepe voluptatem omnis nemo alias, maxime suscipit facere mollitia quod autem quia,
                    laudantium nisi rem, repellat officiis quam quos in aliquid sequi ducimus! Ipsum odit, quibusdam
                    fuga eos officia placeat obcaecati maiores praesentium consequuntur doloribus molestias provident
                    voluptatum id harum dolorum incidunt esse odio qui maxime fugit quod sapiente optio repellendus?
                    Dolores porro, nam molestiae officia quos perferendis. Consequatur odit eveniet non blanditiis, ea
                    rerum eius in fugiat veniam facere. Adipisci, reiciendis modi.</p>
            </div>
            <div class="caja3">
                <h2> Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sapiente laborum et, id error
                    similique impedit labore eius ratione nihil alias, quia quae consequatur! Consectetur veritatis
                    doloremque saepe voluptatem omnis nemo alias, maxime suscipit facere mollitia quod autem quia,
                    laudantium nisi rem, repellat officiis quam quos in aliquid sequi ducimus! Ipsum odit, quibusdam
                    fuga eos officia placeat obcaecati maiores praesentium consequuntur doloribus molestias provident
                    voluptatum id harum dolorum incidunt esse odio qui maxime fugit quod sapiente optio repellendus?
                    Dolores porro, nam molestiae officia quos perferendis. Consequatur odit eveniet non blanditiis, ea
                    rerum eius in fugiat veniam facere. Adipisci, reiciendis modi.</p>
            </div>
            <div class="caja4">
                <h2> Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sapiente laborum et, id error
                    similique impedit labore eius ratione nihil alias, quia quae consequatur! Consectetur veritatis
                    doloremque saepe voluptatem omnis nemo alias, maxime suscipit facere mollitia quod autem quia,
                    laudantium nisi rem, repellat officiis quam quos in aliquid sequi ducimus! Ipsum odit, quibusdam
                    fuga eos officia placeat obcaecati maiores praesentium consequuntur doloribus molestias provident
                    voluptatum id harum dolorum incidunt esse odio qui maxime fugit quod sapiente optio repellendus?
                    Dolores porro, nam molestiae officia quos perferendis. Consequatur odit eveniet non blanditiis, ea
                    rerum eius in fugiat veniam facere. Adipisci, reiciendis modi.</p>
            </div>


        </div>
  

</body>

</html>