<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="../perro.html">volver a perritos</a>
    </nav>
    <div class="perro">
        <img src="../../imegenes/perrito1.jpg" alt="imagen-perro">

        <p>
            Nombre: Cachulo
        </p>
        <p>
            Edad: 3 años
        </p>
        <p>
            Genero: Macho
        </p>
        <p>
            Esterilizado: si
        </p>
        <p>
            Nr-chip : 333333333
        </p>
        <p>
            fiel, gugeton, gloton, 
        </p>
    </div>
</body>
</html>