<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="../perro.html">volvera perritos</a>
    </nav>
    <div class="perro">
        <img src="../../imegenes/perrito2.jpg" alt="imagen-perro">

        <p>
            Nombre: Niña
        </p>
        <p>
            Edad: 1 años
        </p>
        <p>
            Genero: Hmebre
        </p>
        <p>
            Esterilizado: si
        </p>
        <p>
            Nr-chip : 75854965896
        </p>
        <p>
            iperquinetica, alegre, por las noches la posee el maligno
        </p>
    </div>
</body>
</html>