<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="../gato.html">volver a gatitos</a>
    </nav>
    <div class="gato">
        <img src="../../imegenes/gatito1.jpg" alt="imagen-gato">

        <p>
            Nombre: Ginger
        </p>
        <p>
            Edad: 2 años
        </p>
        <p>
            Genero: hembra
        </p>
        <p>
            Esterilizado: si
        </p>
        <p>
            Nr-chip : 987654321
        </p>
        <p>
            regalon, tierno, jugeton, gloton.
        </p>
        
    </div>
</body>
</html>