<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="../gato.html">volver a gatitos</a>
    </nav>
    <div class="gato">
        <img src="../../imegenes/gatito3.jpg" alt="imagen-gato">

        <p>
            Nombre: Lucifer
        </p>
        <p>
            Edad: 2000 años
        </p>
        <p>
            Genero: no binario
        </p>
        <p>
            Esterilizado: ni idea
        </p>
        <p>
            Nr-chip : 666666666666
        </p>
        <p>
            dios del mal, gobernate del infierno, torturador, maquiabelico
        </p>
        
    </div>
</body>
</html>