<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="../gato.html">volver a gatitos</a>
    </nav>
    <div class="gato">
        <img src="../../imegenes/gatito2.jpg" alt="imagen-gato">

        <p>
            Nombre: Tomy
        </p>
        <p>
            Edad: 4 años
        </p>
        <p>
            Genero: Macho
        </p>
        <p>
            Esterilizado: no
        </p>
        <p>
            Nr-chip : 9876543999
        </p>
        <p>
            tranquilo, regalon, dominante
        </p>
    </div>
    
</body>
</html>